/* Base Theme */ 

window#main-window {
    --toolbar-bgcolor: #0c0c0c !important;
    --lwt-accent-color: #0c0c0c !important;
    --lwt-toolbar-field-background-color: #0c0c0c !important;
    --lwt-toolbar-field-color: #cccccc !important;
    --chrome-content-separator-color: none !important;
    --backbutton-background: none !important;
    --arrowpanel-background: #0c0c0c !important;
    --arrowpanel-border-color: #0c0c0c !important;
    --lwt-sidebar-background-color: #0c0c0c !important;
	margin: 9px 6px 0px 2px !important;
}
textbox {
    background-color: #0c0c0c !important;
    border: none !important;
}
.sidebar-placesTree {
    background-color: #0c0c0c !important;
    border: none !important;
}
:root[lwt-popup-brighttext] {
    --panel-separator-color: #0c0c0c !important;
    border: none !important;
}
#sidebar-header {
    border: none !important;
}
:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar[brighttext] > #PanelUI-button {
    border-image-source: linear-gradient(transparent, transparent) !important;
}
#urlbar,
#searchbar {
    border: none !important;
}
#identity-box,
#tracking-protection-icon-container,
.urlbar-icon{
    display: none !important;
}
.tab-icon-image
{
  background-color: #0c0c0c !important;
  height: 20px !important;
  width: 20px !important;
}


#toolbar-menubar:not([autohide="true"])+#TabsToolbar .tabbrowser-tab>.tab-stack>.tab-background,
:root:not([tabsintitlebar]) .tab-background,
:root[extradragspace] .tab-background {
    border-top: 0 !important;
}
.tab-line {
    height: 0 !important;
}
#page-action-buttons>*:not(#star-button-box),
.urlbar-history-dropmarker {
    opacity: 0 !important;
}
#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}
#navigator-toolbox::after {
    display: none !important;
}
menubar,
menubutton,
menulist,
menu,
menuitem,
textbox,
toolbar,
tab,
tree,
.tree-rows {
    font-family: 'Hack', sans-serif !important;
    font-size: 8pt !important;
    font-weight: regular;
    font-style: normal !important;
    -moz-appearance: none !important;
    color: #cccccc !important;
}
#navigator-toolbox {
    --tabs-border-color: none !important;;
}
.tabbrowser-tab::before,
.tabbrowser-tab::after {
    display: none !important;
}
.tabbrowser-tab[selected=true] {
  color: #111111 !important;
  color: #ffd47c !important;
}

#sidebar-search-container {
  background-color: #0c0c0c;   
}
.panel-arrowcontainer, .panel-arrowcontainer, .panel-arrowcontent {
    border-radius: 14px !important;
}
#titlebar {
    -moz-box-ordinal-group: 3 !important;
  }
.tabbrowser-tab {
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
	flex: 1 !important;
}
.tabbrowser-tab[selected="true"], .tab-label-container[selected="true"] {
  color: #c33dab !important;
}
.chromeclass-location {
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;   
}
.urlbarView:not(.megabar) {
    box-shadow: none !important;
    background-color: #0c0c0c !important;
    font-family: 'Hack', sans-serif !important;
    font-size: 8pt !important;
}
.urlbarView-favicon {
    display: none !important;
}
.urlbarView-row[selected] {
    background: #c33dab !important;
    color: #0c0c0c !important;
    fill-opacity: 1 !important;
}
.sidebar-splitter {
    -moz-appearance: none;
    border: none !important;
}     
.customization-target {
    padding: 0px !important;   
}
.tabbrowser-tab[first-visible-tab]::before{
  content: "";
  display: -moz-box;
  border-left: 0px !important;
  margin: 0 !important;
  opacity: 0.3;
 }
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 170px !important;
 }
#tabbrowser-tabs {
  --tab-min-height: 31px !important;
  margin-left: 0px !important;
  height: 31px !important;
 }
 
/* Tab bar Windows Fix */

#titlebar {
	margin-top: -8px !important;
} 

/* Tab draging fix*/

#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset !important;
}
#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset !important;
}

/* Tab close buttons appear on tab hover, replacing the tab icon */

.tabbrowser-tab .tab-close-button {
  -moz-box-ordinal-group: 0 !important;
  margin: 2px 6px 0px 0px !important;
}

.tabbrowser-tab .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
  display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  display: -moz-box !important;
}

/* Window Decorations*/

#nav-bar { 
    padding-right: 77px; 
    padding-left: 5px;
}
#TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    top: 3px;
    right: 0;
}
.titlebar-buttonbox-container {
	display: block;
}
.titlebar-button>.toolbarbutton-icon {
	height: 13x !important;
	min-height: 13px !important;
	width: 13px !important;
	min-width: 13px !important;
}
.titlebar-button {
	padding-left: 6px !important;
	padding-right: 6px !important;
	padding-top: 6px !important; 
}

/* Dark Show Panel*/ 

#statuspanel #statuspanel-label,
statuspanel .statuspanel-label {
  background-color: #111111 !important;
  border: 1px none #111111 !important;
  border-top-style: solid !important;
  color: white !important;
}


